<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="jumbotron space-a">
        <fieldset>
          <legend><h1><%= "#{titulo} Articulo" %></h1></legend>
            <%= form_for @articulo do |form| %>
              <div class="form-group">
                <% if @articulo.errors.any? %>
                  <h2>EL FORMULARIO POSEE <%= @articulo.errors.count %> ERROR(ES)</h2>
                    <% @articulo.errors.full_messages.each do |msj_error| %>
                        <li><%= msj_error %></li>
                    <% end %>
                <% end %>
              </div>
              <div class="form-group">
                <%= form.label "Titulo", class: "form-label mt-4" %>
                <%= form.text_field :title, class: "form-control" %>
              </div>
            <div class="form-group">
              <%= form.label "Imagen", class: "form-label mt-4" %>
              <%= form.file_field :img_art, class: "form-control" %>
            </div>
              <div class="form-group">
                <%= form.label "Cuerpo", class: "form-label mt-4" %>
                <%= form.text_area :body, as: :trix_editor, class: "form-control", rows: "3" %>
              </div>

              <% @categories.each do |category| %>
                <%= check_box_tag "categories[]", category.id %><%= category.name %>
              <% end %>

              <br>
              <div class="form-group">
                <%= form.submit "Aplicar Cambios", class: "btn btn-secondary" %>
              </div>
              <div class="form-group">
                <%= link_to "Atràs", articles_path %>
              </div>
            <% end %>
        </fieldset>
      </div>
    </div>
  </div>
</div>
