<h1>Nuevo Articulo</h1>
<%= form_for @articulo do |form| %>
  <% if @articulo.errors.any? %>
    <h2>EL FORMULARIO POSEE <%= @articulo.errors.count %> ERROR(ES)</h2>
    <div class="mb-4">
      <% @articulo.errors.full_messages.each do |msj_error| %>
        <li><%= msj_error %></li>
      <% end %>
    </div>
  <% end %>

  <div class="mb-4">
    <td><%= form.label "Titulo" %></td>
    <td><%= form.text_field :title %></td>
    <td><%= form.label "Cuerpo" %></td>
    <td><%= form.text_area :body %></td>

    <%= form.submit "Aplicar Cambios" %>
  </div>
<% end %>
