<!--<= @articulo.inspect %>-->
<div class="container-fluid">
<div class="jumbotron">
  <h1><%= @articulo.title %></h1>


  <% if @articulo.img_art? %>
    <%= image_tag @articulo.img_art.url %>
    <%= image_tag @articulo.img_art.url(:thumb) %>
  <% end %>

  <p><%= @articulo.body %></p>
  <% unless @articulo.user.nil? %>
    <p><%=  @articulo.user.email  %></p>
  <%  end %>

  <%= link_to "Atràs", root_path, class: "btn btn-info" %>
  <%= link_to "Editar", edit_article_path(@articulo), class: "btn btn-warning" %>
</div>
</div>