<div class="jumbotron table-responsive">
    <h1 class="text-center">Administrador</h1>
    <%= link_to "Normal", categories_path(normal: true), class: "btn btn-success salto" %>
    <div class="table-responsive">
    <table class="table table-sm table-bordered table-striped table-hover">
      <thead class="thead-dark">
      <tr>
        <th>Nombre</th>
        <th>Autor</th>
        <th>Fecha Creacion</th>
        <th>Hora Creacion</th>
        <th colspan="3" class="align-text-bottom"></th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |cat| %>
        <tr>
          <td><%= cat.name %></td>
          <td><%= cat.user.try(:email) %></td>
          <td class="text-center"><%= cat.created_at.strftime("%d/%m/%Y") %></td>
          <td class="text-center"><%= cat.created_at.strftime("%H:%M") %></td>
          <td class="text-center"><%= link_to "Mostrar", categories_path, class: "btn btn-info" %></td>
          <% if user_signed_in? %>
            <% if current_user.is_editor_user? %>
              <td class="text-center"><%= link_to "Editar", edit_category_path(cat), class: "btn btn-warning" %></td>
            <% end %>
            <% if current_user.is_admin_user? %>
              <td class="text-center"><%= link_to "Eliminar", cat, method: :delete, class: "btn btn-danger" %></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>