<style type="text/css" media="screen">
  .jumbotron{
      margin-top: 10px !important;
  }
  .categories-show{
      background: <%= @category.color %> !important;
  }
</style>

<div class="categories-show">
  <h1 class="text-center"><%= @category.name %></h1>
  <h5 class="text-center">
    <% unless @category.user.nil? %>
      Creado por: <%=  @category.user.email  %>
    <% end %>
  </h5>
</div>
<div class="row">
  <% @category.articles.each do |article| %>
    <div class="col-md-3">
      <div class="jumbotron">
        <h2><%= article.title %></h2>
        <p><%= truncate(article.body,length: 250) %></p>

        <!--<= link_to 'Atràs', categories_path, class: "btn btn-info" %>-->
        <% if user_signed_in? && current_user.is_editor_user? %>
          <%= link_to 'Editar', edit_category_path(@category), class: "btn btn-warning" %>
        <% end %>
        <%= link_to "Ver màs", article, class: "btn btn-info" %>
      </div>
    </div>
  <% end %>
</div>